.pokemon-avatar {
  cursor: pointer;
}
.pokemon-attributes {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  text-align: left;
  list-style: none;
}
.pokemon td {
  text-align: center;
  padding: 0 10px;
}
.pokemon-attributes li {
  text-align: center;
}
